@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #d3d3d3;
}

header {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  align-items: center;
}

.header-title {
  font-style: oblique;
  font-weight: 700;
  font-size: 50px;
}

.img-logo {
  height: 100px;
  width: 100px;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 60px;
}

.nav {
  margin-right: 100px;
}

.links {
  list-style-type: none;
}

/* serve yourself link */
.link {
  text-decoration: none;
  color: brown;
  font-weight: 600;
  font-size: 25px;
}

.list {
  display: flex;
  column-gap: 15px;
}

.bell {
  height: 25px;
  width: 25px;
}

/* search */
.meal-search-box {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.search-control {
  width: inherit;
  padding: 0 1rem;
  font-size: 1.4rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid brown;
  color: brown;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.search-control::placeholder {
  color: grey;
}

.search-btn {
  margin-right: auto;
  width: 80px;
  height: 55px;
  padding-right: 10px;
  font-size: 1.6rem;
  background: brown;
  color: #fff;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.search-btn:hover {
  background: rgb(124, 38, 38);
  cursor: pointer;
}

.search-btn:active {
  transform: scale(0.9);
  background-color: brown;
}

/* footer */
.footer {
  background-color: white;
  position: fixed;
  bottom: 10px;
  height: 60px;
  border: 1px solid brown;
  border-radius: 40px;
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 50px;
}

.footer-text {
  font-size: 1.4rem;
  margin-left: 50px;
  font-weight: 500;
  margin-top: 15px;
}

/* Cards from JavaScript */

/* cards sections */
.meals {
  display: grid;
  grid-template-columns: auto auto auto;
}
