@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

body {
  background-color: #d3d3d3;
}

header {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  align-items: center;
}

.header-title {
  font-style: oblique;
  font-weight: 700;
  font-size: 50px;
}

.img-logo {
  height: 100px;
  width: 100px;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 60px;
}

.nav {
  margin-right: 100px;
}

.links {
  list-style-type: none;
}

/* serve yourself link */
.link {
  text-decoration: none;
  color: brown;
  font-weight: 600;
  font-size: 25px;
}

.list {
  display: flex;
  column-gap: 15px;
}

.bell {
  height: 25px;
  width: 25px;
}

/* search */
.meal-search-box {
  margin-top: 10px;
  margin-bottom: 60px;
  display: flex;
  align-items: stretch;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.search-control {
  width: inherit;
  padding: 0 1rem;
  font-size: 1.4rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid brown;
  color: brown;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.search-control::placeholder {
  color: grey;
}

.search-btn {
  margin-right: auto;
  width: 80px;
  height: 55px;
  padding-right: 10px;
  font-size: 1.6rem;
  background: brown;
  color: #fff;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.search-btn:hover {
  background: rgb(124, 38, 38);
  cursor: pointer;
}

.search-btn:active {
  transform: scale(0.9);
  background-color: brown;
}

/* footer */
.footer {
  background-color: white;
  position: fixed;
  bottom: 30px;
  height: 60px;
  border: 1px solid brown;
  border-radius: 40px;
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 50px;
}

.footer-text {
  font-size: 1.4rem;
  margin-left: 50px;
  font-weight: 500;
  margin-top: 15px;
}

/* Cards from JavaScript */

/* cards sections */
.meals {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5% 5%;
  width: 90%;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 400px;
}

.parent-div {
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 0 50px;
  box-shadow: 10px 30px 20px grey;
}

.parent-div:hover {
  transform: scale(1.005);
  box-shadow: 20px 40px 20px rgb(51, 50, 50);
}

.pic-div {
  display: flex;
  width: 100%;
  height: auto;
  background-color: bisque;
  border-radius: 0 50px 0 0;
  justify-content: center;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 0 50px 0 0;
}

.foot-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
}

.div-likes {
  display: flex;
  justify-content: flex-start;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: baseline;
  column-gap: 15px;
}

.thumbs {
  font-size: 25px;
}

.thumbs:hover {
  cursor: pointer;
}

.thumbs:active {
  text-shadow: 5px 5px grey;
  transform: scale(0.9);
}

.likes {
  font-size: 20px;
  font-family: inherit;
}

.categories {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  color: black;
  font-style: italic;
  margin-bottom: 20px;
}

.comment {
  padding: 10px 30px;
  background-color: brown;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 30px;
  font-weight: 600;
  margin: 10px 0;
  margin-bottom: 40px;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.comment:hover {
  cursor: pointer;
  background-color: rgb(221, 88, 88);
}

.comment:active {
  background-color: brown;
  transform: scale(0.95);
}
